.box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 230px;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgb(10, 10, 10);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.box--only-facebook {
    height: 130px;
}
.header {
    position: absolute;
    display: block;
    top: -50%;
    width: 150%;
    transform: translateX(-15%);
}
.header--only-facebook {
    top: -80%;
}
input[type="text"], 
input[type="password"] {
    padding: 10px 20px;
    display: inline-block;
    margin: 7px;
    color: black;
}
input[type="text"]::placeholder, 
input[type="password"]::placeholder {
    color: black;
}
input[type="text"] {
    margin-top: 30px;
}
input[type="submit"] {
    display: block;
    position: relative;
    top: 30px;
    left:50%;
    transform: translateX(-50%);
    cursor: pointer;
    padding: 10px 30px;
}
input {
    border-radius: 7px;
    border: 1px solid;
    outline: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
    text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
}
a {
    color: rgb(212, 209, 209);
    font-size: 12px;
    position: relative;
    top: 44px;
    cursor: pointer;
}
.--only-facebook {
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
}
a:active {
    color: rgb(212, 209, 209);
}