.noHistory {
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
}
.tableContainer {
    margin: 100px auto;
    padding-bottom: 100px;
}
.detailsContainer {
    position: relative;
    width: 80%;
    max-width: 500px;
    border-radius: 4px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.774);
}
.detailsContainer > button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 18px;
    background: none;
    outline: none;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    transition: all 300ms ease;
}
.detailsContainer > button:hover {
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.349);
}